<h4 class="label">
    Select 3 images that show what you like
</h4>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">

        <label>
            <input type="checkbox" class="checkbox" formControlName="categories" (change)="getDetailId($event,option1)">
            <img [src]="cultureImage[0]">
        </label>
        <label>
            <input type="checkbox" class="checkbox" formControlName="categories" (change)="getDetailId($event,option2)">
            <img [src]="cultureImage[1]">
        </label>
        <label>
            <input type="checkbox" class="checkbox" formControlName="categories" (change)="getDetailId($event,option3)">
            <img [src]="cultureImage[2]">
        </label>
        <label>
            <input type="checkbox" class="checkbox" formControlName="categories" (change)="getDetailId($event,option4)">
            <img [src]="cultureImage[3]">
        </label>
        <label>
            <input type="checkbox" class="checkbox" formControlName="categories" (change)="getDetailId($event,option5)">
            <img [src]="cultureImage[4]">
        </label>
        <label>
            <input type="checkbox" class="checkbox" formControlName="categories" (change)="getDetailId($event,option6)">
            <img [src]="cultureImage[5]">
        </label>
        <label>
            <input type="checkbox" class="checkbox" formControlName="categories" (change)="getDetailId($event,option7)">
            <img [src]="cultureImage[6]">
        </label>




    </div>

    <button type="submit" [disabled]="selectedDetails.length!=3" class="button"> Next </button>
    <div *ngIf="selectedDetails.length!=3" class="info">
        You choose : {{selectedDetails.length}} pictures. You must select 3 options to send.
    </div>






</form>