.homePage {
  position: relative;
  height: 92.5vh;
  background-image: url("../../../../assets/Images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.homePage .bg {
  position: absolute;
  background-color: rgba(0, 63, 114, 0.3);
  width: 100vw;
  height: 100%;
  left: 0;
}

.google-btn {
  cursor: pointer;
  width: 250px;
  height: 50px;
  background-color: #dd0e3f;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 48px;
  border-radius: 2px;
  background-color: #fff;
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

.google-btn .btn-text {
  text-align: center;
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669F2;
}
