<div *ngIf="authService.loggedIn();" class="background">

    <div class="label"> Choose the area of life you want to improve </div>
   
<form [formGroup]="form" (ngSubmit)="onSubmit()">
   <div class="container">

       <label class="area love" >
           <input type="checkbox" class="checkbox"   formControlName="Id" (change)="getAreaId($event,option1)" >
           <div class="tickmark"></div>
                <div> 
                    <div class="title marg"> Love </div> 
                    <div class="text"> Option recommended for people in a relationship  </div>    
                </div>
       </label>

       <label class="area sport">
            <input type="checkbox" class="checkbox"  formControlName="Id" (change)="getAreaId($event,option2)">
            <div class="tickmark"></div>
                <div> 
                    <div class="title marg"> Sport & Health </div>  
                </div>
        </label>

        
       <label class="area culture">
            <input type="checkbox" class="checkbox"   formControlName="Id" (change)="getAreaId($event,option3)">
            <div class="tickmark"></div>
                <div> 
                    <div class="title"> Culture & Entertainment </div>   
                </div>
        </label>
    </div>
    <button type="submit"  class="button"> NEXT </button>
</form>

   </div>
   