@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Rum+Raisin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");
.background {
  background-color: #F9D6C0;
  position: absolute;
  width: 100vw;
  height: calc( 100vh - 56px);
  overflow: auto;
}

.label {
  text-align: center;
  font-size: 50px;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Gloria Hallelujah', cursive;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.area {
  background-color: black;
  margin-top: 3vh;
  width: 30vh;
  padding-right: 5vh;
  height: 43vh;
  border-radius: 25px;
}

.title {
  background-color: #A27C7C;
  opacity: 0.97;
  width: 30vh;
  height: 10vh;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  margin: 33vh 0 0 0;
  text-align: center;
  font-size: 3.31vh;
  font-family: 'Margarine', cursive;
  color: white;
}

.marg {
  padding: 2vh 1vh 1vh 1vh;
}

.love {
  background-image: url("../../../assets/Images/Preferences/l1.jpg");
  background-position: center;
  background-size: cover;
}

.love:hover .text {
  display: block;
}

.text {
  margin-top: 1vh;
  text-align: center;
  padding: 1vh 0vh 1vh 2vh;
  font-family: 'Kiwi Maru', serif;
  display: none;
}

.sport {
  background-image: url("../../../assets/Images/Preferences/s1.png");
  background-position: center;
  background-size: cover;
}

.culture {
  background-image: url("../../../assets/Images/Preferences/c1.jpg");
  background-position: center;
  background-size: cover;
}
