@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Orelega+One&family=Original+Surfer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
.background {
  position: relative;
  overflow: auto;
  height: calc( 100vh - 56px);
  width: 100vw;
  background-color: #E1D2CD;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background .bg {
  position: absolute;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100vw;
  height: calc( 100vh - 56px);
  left: 0;
}

.label {
  text-align: center;
  font-size: 50px;
  padding-top: 4vh;
  font-family: 'Orelega One', cursive;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.area {
  margin-top: 7vh;
  width: 35vh;
  padding-right: 5vh;
  height: 45vh;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display: block;
}

.title {
  background-color: rgba(255, 255, 255, 0.5);
  color: #300606;
  opacity: 0.97;
  width: 35vh;
  height: 10vh;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  margin: 35vh 0 0 0;
  text-align: center;
  font-size: 3.31vh;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: bold;
}

.marg {
  padding: 2vh 1vh 1vh 1vh;
}

.love {
  background-image: url("../../../assets/Images/Preferences/l1.jpg");
  background-position: center;
  background-size: cover;
}

.love:hover .text {
  display: block;
}

.text {
  margin-top: 1vh;
  text-align: center;
  padding: 1vh 0vh 1vh 2vh;
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 11px;
  display: none;
  color: red;
  font-weight: bold;
}

.sport {
  background-image: url("../../../assets/Images/Preferences/s2.jpg");
  background-position: top;
  background-size: cover;
}

.culture {
  background-image: url("../../../assets/Images/Preferences/c1.jpg");
  background-position: center;
  background-size: cover;
}

.button {
  display: flex;
  justify-content: center;
}

.profile-button {
  background: #300606;
  box-shadow: none;
  border: none;
  margin-top: 6vh;
  margin-bottom: 20px;
}

.profile-button:hover {
  background: #300606;
}

.profile-button:focus {
  background: #300606;
  box-shadow: none;
}

.profile-button:active {
  background: #300606;
  box-shadow: none;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  opacity: 0;
}

.checkbox:checked ~ .title {
  background-color: #0CB504;
}

.checkbox:checked ~ .tickmark {
  border-color: #0CB504 transparent transparent #0CB504;
}

.tickmark {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 30px solid;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent rgba(255, 255, 255, 0.5);
}

.tickmark::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 22px;
  height: 10px;
  border: 3px solid;
  border-color: transparent transparent #300606  #300606;
  transform: rotate(-45deg);
}
