<div *ngIf="authService.loggedIn();" class="background">

    <div class="label"> Choose the area of life you want to improve </div>
   
   <div class="container">
       <div class="area love"> <div class="title marg"> Love </div> <div class="text"> Option recommended for people in a relationship  </div>    </div>
       <div class="area sport"> <div class="title marg"> Sport & Health </div>  </div>
       <div class="area culture"> <div class="title"> Culture & Entertainment </div>   </div>
   </div>
   
   
   </div>
   