<div class="main-container">
  <div class="form-title">
    <h2>Delete account</h2>
  </div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="password-label">
      <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" name="password" ngModel required #email="ngModel" id="Password" class="form-control" placeholder="Enter password">
    </div>
    <div class="password-label">
      <label for="inputPassword5" class="form-label">Confirm Password</label>
      <input type="password" name="confirmPassword" ngModel required #email="ngModel" id="confirmPassword" class="form-control" placeholder="Confirm password">
    </div>
    <button type="submit" [disabled]="f.invalid" class="buttonstyle">Delete Account</button>
  </form>
</div>


