<div *ngIf="!buttonClick">
    <h4 class="label">
        Select 3 images that show what you like
    </h4>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="container">

            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option1)">
                <img [src]=" sportImage[0]">
                <div class="text"> Swimming  </div>
            </label>
            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option2)">
                <img [src]=" sportImage[1]">
                <div class="text">  Aerobics  </div>
            </label>
            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option3)">
                <img [src]=" sportImage[2]">
                <div class="text"> Relax   </div>
            </label>
            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option4)">
                <img [src]=" sportImage[3]">
                <div class="text"> Cycling    </div>
            </label>
            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option5)">
                <img [src]=" sportImage[4]">
                <div class="text"> Walking   </div>
            </label>
            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option6)">
                <img [src]=" sportImage[5]">
                <div class="text"> Nordic-walking   </div>
            </label>
            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option7)">
                <img [src]=" sportImage[6]">
                <div class="text"> Rollers    </div>
            </label>
            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option8)">
                <img [src]=" sportImage[7]">
                <div class="text"> Jogging    </div>
            </label>
            <label>
                <input type="checkbox" class="checkbox" formControlName="images"
                    (change)="getDetailId($event,option9)">
                <img [src]=" sportImage[8]">
                <div class="text"> Gym exercises   </div>
            </label>

        </div>

        <button type="submit" [disabled]="selectedDetails.length!=3" class="button"> Next </button>
        <div *ngIf="selectedDetails.length!=3" class="info">
            You choose : {{selectedDetails.length}} pictures. You must select 3 options to send.
        </div>

    </form>
</div>

    <app-culture *ngIf="buttonClick&&preferencesList[2]==true" [preferencesList]="preferencesList"></app-culture>