<div class="profile-container">
    <h1 class="display-3">Profile</h1>
    <form>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Username:</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticUserName" value="{{userService.userInfo.userName}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="{{userService.userInfo.email}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Phone Number:</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticPhoneNumber" value="{{userService.userInfo.phoneNumber}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Gender:</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticGender" value="{{userService.userInfo.gender}}">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Birth Date:</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext" id="staticPassword" value="{{userService.userInfo.birthDate}}">
        </div>
      </div>
    </form>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/profile-edit']" routerLinkActive="active" role="button">Edit profile</a>
    </p>
</div>
