.profile-container
  position: relative
  top: 50%
  left: 50%
  transform: translate(-50%, -75%)
  width: 40vw
  .display-3, .lead
    text-align: center
    .lead
      margin-top: 50px
    h1
      margin-bottom: 15px
    form
      margin: 0 auto
      padding-left: 5%
      div
        label
          font-weight: 700
          input
            padding-left: 5px
