
.background
  position: relative
  overflow: auto
  height: calc( 100vh - 56px )
  width: 100vw
  background-image: url("../../../../assets/Images/home.png")
  background-color: #E1D2CD
  background-position: top
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  .bg
    position: absolute
    overflow: auto
    background-color: rgba(255, 255, 255, 0.25)
    width: 100vw
    height: calc( 100vh - 56px )
    left: 0

.profil
  background-color: #fff
  border-radius: 45px
  border: 5px solid #6A655E

.form-control:focus
  box-shadow: none
  border-color: #BA68C8

.profile-button
  background: #300606
  box-shadow: none
  border: none

  &:hover
    background: #300606

  &:focus
    background: #300606
    box-shadow: none

  &:active
    background: #300606
    box-shadow: none

.back:hover
  color: #300606
  cursor: pointer


.container
  width: 70vw
  max-width: 500px
  .py-5
    padding-top: 2rem !important
  .title
    h2
      font-size: 45px
      margin: 0 auto
      text-align: center
  .col-md-12
    width: 75%
    margin: 5px auto

.mt-5
  button
    &:hover
      opacity: .7
  i
    margin-right: 7px

.cancel
  text-decoration: none
  i
    font-size: 30px
    color: #300606
    &:hover
      opacity: .7

  
.mt-5
  display: flex
  justify-content: space-between
  a
    &:hover
      opacity: .7
  button
    i
      max-width: 14px
      &:hover
        opacity: .7
  i
    margin-right: 10px

  label
    margin-top: 5px
    font-weight: bold
    font-size: 21px