<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="form-container">
        <div class="p-3 py-5">
              <div class="title d-flex justify-content-between align-items-center mb-3">
                <a class="cancel" [routerLink]="['']" routerLinkActive="active"><i class="fas fa-times-circle"></i></a><h2 >Profile Settings</h2>
              </div>
              <div class="row mt-3">
                <!-- <div class="col-md-12"><label class="labels">Name</label><input readonly="" type="text" class="form-control" value="{{this.authService.User.firstName}}"></div>
                <div class="col-md-12"><label class="labels">Lastname</label><input readonly="" type="text" class="form-control" value="{{this.authService.User.lastName}}"></div> -->
                  <!-- <div class="col-md-12"><label class="labels">PhoneNumber</label><input readonly="" type="text" class="form-control" value="{{userService.userInfo.phoneNumber}}"></div> -->
                  <!-- <div class="col-md-12"><label class="labels">Email </label><input readonly="" type="text" class="form-control"value="{{this.authService.User.email}}"></div> -->
                  <!-- <div class="col-md-12"><label class="labels">Gender</label><input readonly="" type="text" class="form-control" value="{{userService.userInfo.gender}}"></div>
                  <div class="col-md-12"><label class="labels">Birth Date</label><input readonly="" type="text" class="form-control" value="{{userService.userInfo.birthDate}}"></div> -->
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="goEdit()"><i class="fas fa-edit"></i>Edit Profile</button></div>
            </div>

    <div class="form-container">
      <div class="p-3 py-5">
        <div class="title d-flex justify-content-between align-items-center mb-3">
          <a class="cancel" [routerLink]="['']" routerLinkActive="active"><i class="fas fa-times-circle"></i></a>
          <h2>Profile Settings</h2>

        </div>
        <div class="row mt-3">
          <div class="col-md-12"><label class="labels">Username</label><input readonly="" type="text"
              class="form-control" value="{{userInfo.userName}}"></div>
          <div class="col-md-12"><label class="labels">PhoneNumber</label><input readonly="" type="text"
              class="form-control" value="{{userService.userInfo.phoneNumber}}"></div>
          <div class="col-md-12"><label class="labels">Email </label><input readonly="" type="text" class="form-control"
              value="{{userInfo.email}}"></div>
          <div class="col-md-12"><label class="labels">Gender</label><input readonly="" type="text" class="form-control"
              value="{{userService.userInfo.gender}}"></div>
          <div class="col-md-12"><label class="labels">Birth Date</label>
            <input readonly="" type="text" class="form-control" value="{{userService.userInfo.birthDate}}">
          </div>


          <h4 class="title_area col-md-12"> Selected areas of life </h4>
          <div *ngFor=" let category of userService.userPref.categories" class="col-md-12">
            {{category.name}}
          </div>
          <div *ngIf="userService.userPref.categories.length==0" class="areas">
            Oh no, you don't have chosen areas of life
         </div>


        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="button" (click)="goEdit()"><i class="fas fa-edit"></i>Edit Profile</button>
          <a  class="btn btn-primary profile-button"
          [routerLink]="['/edit-preferences']" routerLinkActive="active"><i class="fas fa-cogs"></i>Edit preferences</a>

        </div>


      </div>
    </div>
  </div>
</div>
