<div class="background">
  <div class="bg">

    <div class="container rounded mt-5 mb-5 profil">
      <div class="row">
        <div class="form-container">
          <div class="p-3 py-5">
            <div class="title d-flex justify-content-between align-items-center mb-3">
              <a class="cancel" [routerLink]="['/main']" routerLinkActive="active"><i
                  class="fas fa-times-circle"></i></a>
              <h2>My profile </h2>
            </div>
            <div class="row mt-3">
              <div class="col-md-12"> <label>Username: </label> <br>
                {{userInfo.userName}} </div>

              <div class="col-md-12"> <label> Email: </label> <br>
                {{userInfo.email}}</div>

              <div class="col-md-12"> <label> Selected areas of life: </label> <br>
                <div *ngFor=" let category of userService.userPref.categories">
                <div *ngIf="category.name=='Love'"> <i class="fas fa-heart"></i>   {{category.name}} </div>
                <div *ngIf="category.name=='Culture and enterntainment'">  <i class="fas fa-guitar"></i>  {{category.name}} </div>
                <div *ngIf="category.name=='Sport and health'"> <i class="fas fa-futbol"></i>  {{category.name}} </div>
                </div>
                <div *ngIf="userService.userPref.categories.length==0" class="areas">
                  Oh no, you don't have chosen areas of life
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5 text-center">
            <a class="btn btn-primary profile-button" [routerLink]="['/edit-preferences']" routerLinkActive="active"><i
                class="fas fa-cogs"></i>Edit preferences</a>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
