
<div class = "modal-dialog  modal-dialog-centered text-center ">
  <div class = "col-sm-8 main-section">
    <div class = "modal-content">
      <h2> Reset your password </h2>
      <form class="col-12" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group1">
          <input type="email" name="email" ngModel required #email="ngModel" class="form-control" id="resetPasswordEmail" placeholder="Enter email address">
          <div *ngIf="email.touched&&email.errors?.required" class="bgAlert">This field is required</div>
        </div>
        <button type="submit"  class="buttonstyle">Reset password</button>
        </form>
    </div> 
  </div>
</div>


