<!-- <div class="homePage">
  <div class="bg">
    <div class = "modal-dialog  modal-dialog-centered text-center ">
      <div class = "col-sm-8 main-section">
        <div class = "modal-content">
          <h2> Reset your password </h2>
          <form class="col-12" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group1">
              <input type="email" name="email" ngModel required #email="ngModel" class="form-control" id="resetPasswordEmail" placeholder="Enter email address">
              <div *ngIf="email.touched&&email.errors?.required" pattern="^[a-z0-9-._]+@[a-z0-9.-]+\.[a-z]{2,}$" class="bgAlert">This field is required</div>
              <div *ngIf="email.touched&&email.errors?.pattern" class="bgAlert">The email is incorrect</div>
            </div>
            <button type="submit"  class="buttonstyle">Reset password</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div> -->




