<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="form-container">
        <div class="p-3 py-5">
              <div class="title d-flex justify-content-between align-items-center mb-3">
                <a class="cancel" [routerLink]="['/my-profile']" routerLinkActive="active"><i class="fas fa-arrow-left"></i></a><h2 >Change Password</h2>
              </div>
              <form #f="ngForm" (ngSubmit)="modifyPassword()">
              <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Old Password</label>
                  <input type="text" name="oldPassword" [(ngModel)]="model.oldPassword" required #oldPassword="ngModel" class="form-control" placeholder="Enter Old Password" >
                </div>
                  <div class="col-md-12"><label class="labels">New Password</label>
                    <input type="text" name="newPassword" [(ngModel)]="model.newPassword" pattern="(?=^.{6,15}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\\s).*$" required #newPassword="ngModel" class="form-control" placeholder="Enter New Password" >
                    <div *ngIf="newPassword.touched&&newPassword.errors?.pattern" class="bgAlert">Password must have 1 Uppercase, 1 Lowercase, 1 number, 1 non alphanumeric and 6 to 15 characters</div>
                  </div>
              </div>
              <div class="mt-4 text-center">
                <button type="submit" [disabled]="f.invalid" class="btn btn-primary profile-button"><i class="fas fa-user-edit"></i> Change Password</button>
              </div>
            </form>
            </div>
        </div>
  </div>
</div>


