<div class="row">
  <div class="col-md-6 offset-md3 mt-4">
    <h3>Change Password</h3>
    <form #f="ngForm" (ngSubmit)="changePassword()">
      <div class="mb-3">
        <label for="resetPasswordEmail" class="form-label">Enter new Password</label>
        <input type="password" name="password" [(ngModel)]="model.password" required #email="ngModel" class="form-control" id="changePassword" placeholder="Enter new password">
      </div>
      <button type="submit" [disabled]="f.invalid" class="buttonstyle">Change Password</button>
    </form>
  </div>
</div>
