<div class="main-container">
  <div class="form-title">
    <h2>Change Password</h2>
  </div>
  <form #f="ngForm" (ngSubmit)="modifyPassword()">
    <div class="password-label">
      <label for="oldPassword" class="form-label">Enter old Password</label>
      <input type="password" name="oldPassword" [(ngModel)]="model.oldPassword" required #oldPassword="ngModel" id="OldPassword" class="form-control" placeholder="Enter old password">
    </div>
    <div class="password-label">
      <label for="newPassword" class="form-label">Enter new Password</label>
      <input type="password" name="newPassword" [(ngModel)]="model.newPassword" required #newPassword="ngModel" id="OldPassword" class="form-control" placeholder="Enter new password">
    </div>
    <button type="submit" [disabled]="f.invalid" class="buttonstyle">Change Password</button>
  </form>
</div>



