.main-container
  width: 40vw
  height: 60vh
  position: relative
  top: 50%
  left: 50%
  border: 2px solid white
  border-radius: 20px
  transform: translate(-50%,-70%)
  .form-container
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 80%
    height: 90%
    .password-div
      margin-top: 30px
    .password-label
      text-align: center
      label
        font-size: 1.3em
        color: #fff
    .form-title
      text-align: center
      color: white
      margin-bottom: 20px
      font-size: 0.9rem
      h2
        font-size: 2.5em
    .btn
      width: 100%
      margin-top: 50px
      button
        margin: 0 auto
        width: 70%
        i
          padding-right: 3px
