.main-container
  width: 30vw
  position: relative
  top: 50%
  left: 50%
  transform: translate(-50%,-90%)
  .password-div
    margin-top: 10px
  .password-label
    text-align: center
    label
      font-size: 1.3em
      color: #fff
  .form-title
    text-align: center
    color: white
    margin-bottom: 20px
    font-size: 0.9rem
    h2
      font-size: 2.5em
  .btn
    margin-top
    width: 100%
    button
      margin: 0 auto
      width: 70%
      i
        padding-right: 3px
