@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Orelega+One&family=Original+Surfer&display=swap");
.background {
  position: relative;
  overflow: auto;
  height: calc( 100vh - 56px);
  background-image: url("../../../assets/Images/User_Profil/background7.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background .bg {
  position: absolute;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: calc( 100vh - 56px);
  left: 0;
}

.container {
  width: 100vw;
  height: calc( 100vh - 56px);
}

.calendar {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.welcome {
  text-align: center;
  color: #E1F4FA;
  font-size: 40px;
  padding-top: 4vh;
  font-family: 'Orelega One', cursive;
}

.information {
  background-color: rgba(148, 111, 80, 0.9);
  border-style: solid;
  border-radius: 10px;
  border-color: skyblue;
  border-size: 5px;
  margin: 10px 10px 10px 10px;
  color: skyblue;
}

.information h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Orelega One', cursive;
}
