@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Orelega+One&family=Original+Surfer&display=swap')

.background
  position: relative
  overflow: auto
  height: calc( 100vh - 56px )
  width: 100vw
  background-color: #E1D2CD
  background-position: top
  background-repeat: no-repeat
  background-attachment: fixed
  .bg
    position: absolute
    overflow: auto
    background-color: rgba(255, 255, 255, 0.25)
    width: 100vw
    height: calc( 100vh - 56px )
    left: 0

.container
    width: 100vw
    height: calc( 100vh - 56px ) 


.calendar
    margin-top: 3vh
    display: flex
    justify-content: center 

.welcome
    text-align: center
    //color: #D4CC
    color: #E1F4FA
    font-size: 40px
    padding-top: 4vh
    font-family: 'Orelega One', cursive

.information
  background-color: rgba(148,111 ,80 , 0.9)
  border-style: solid
  border-radius: 10px
  border-color: skyblue
  border-size: 5px
  margin: 10px 10px 10px 10px
  color: skyblue
  h2
    text-align: center
    font-size: 30px
    font-family: 'Orelega One', cursive
