@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Orelega+One&family=Original+Surfer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");
.background {
  position: relative;
  overflow: auto;
  height: calc( 100vh - 56px);
  width: 100vw;
  background-image: url("../../../assets/Images/home.png");
  background-color: #E1D2CD;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background .bg {
  position: absolute;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100vw;
  height: calc( 100vh - 56px);
  left: 0;
}

.calendar {
  margin-top: 5vh;
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
}

.welcome {
  margin-top: 30vh;
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: #fff;
  padding: 20px;
  border: 5px solid #6A655E;
  border-radius: 2px;
}

.information {
  background-color: rgba(148, 111, 80, 0.9);
  border-style: solid;
  border-radius: 10px;
  border-color: skyblue;
  border-size: 5px;
  margin: 10px 10px 10px 10px;
  color: skyblue;
}

.information h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Orelega One', cursive;
}
