@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lobster&family=Roboto&display=swap");
.logo {
  font-family: 'Chango', cursive;
  color: #C6CEDC;
  cursor: default;
  margin-left: 2vw;
}

.logo:hover {
  color: #C6CEDC;
}

.logout {
  cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #300606;
}
