@import url('https://fonts.googleapis.com/css2?family=Chango&family=Lobster&family=Roboto&display=swap')

.pasek
  color: #fff

.logo
  font-family: 'Chango', cursive
  color: #E8E5AE

#navbarNav
  justify-content: flex-end

#user-icon
  margin-right: 5%

.dropdown
  ul
    background-color: lightgray
    li
      a:hover
        color: orange
      i
        margin-right: 5px
