<div class="nav">
  <div class="burger" (click)="clicked()">
    <i [ngClass]="showAdded == true ? 'fas fa-bars': 'fas fa-bars show'"></i>
    <i [ngClass]="showAdded == true ? 'fas fa-times show': 'fas fa-times'"></i>
  </div>
</div>
<aside class="show" *ngIf="showAdded == true">
    <ul>
      <li><a routerLink="/register" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i>Sign in</a></li>
      <li><a routerLink="/login" routerLinkActive="active"><i class="fas fa-user"></i>Log in</a></li>
      <li><a routerLink="/"><i class="fas fa-home"></i>Home</a></li>
      <li><a ><i class="fab fa-angellist"></i>About App</a></li>
      <li><a ></a></li>
    </ul>
</aside>

