<div class="nav">
  <div class="burger" (click)="clicked()">
    <i [ngClass]="showAdded == true ? 'fas fa-bars': 'fas fa-bars show'"></i>
    <i [ngClass]="showAdded == true ? 'fas fa-times show': 'fas fa-times'"></i>
  </div>
</div>
<aside class="show" *ngIf="showAdded == true">
    <ul>
      <li><a href="#"><i class="fas fa-sign-in-alt"></i>Sign in</a></li>
      <li><a href="#"><i class="fas fa-user"></i>Log in</a></li>
      <li><a href="#">Coś tam</a></li>
      <li><a href="#">Inne coś</a></li>
      <li><a href="#">Jeszcze inniejsze</a></li>
    </ul>
</aside>

