@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Rum+Raisin&display=swap");
.color {
  background-color: #F9E3B2;
  position: absolute;
  width: 100vw;
  height: calc( 100vh - 56px);
  overflow: auto;
}

.background {
  background-image: url("../../../../assets/Images/Preferences/edit-prefernces/tlo.png");
  position: absolute;
  width: 100vw;
  height: calc( 100vh - 56px);
  overflow: auto;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  height: calc( 100vh - 56px);
  background-color: rgba(255, 255, 255, 0.7);
}

.title {
  text-align: center;
  font-size: 50px;
  padding-top: 2%;
  font-family: 'Orelega One', cursive;
}

.areas {
  text-align: center;
  font-size: 40px;
  padding-top: 1%;
  font-family: 'Orelega One', cursive;
}

.space_button {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}

.profile-button {
  background: #632778;
  box-shadow: none;
  border: none;
  margin-top: 1%;
  text-align: center;
}

.profile-button:hover {
  background: orange;
}

.profile-button:focus {
  background: grey;
  box-shadow: none;
}

.profile-button:active {
  background: orange;
  box-shadow: none;
}

form {
  border: 5px solid #632778;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  padding: 2%;
  background-color: #e5adfc;
  border-radius: 10px;
}

label {
  font-size: 20px;
  margin-right: 1%;
}

input {
  margin-right: 2%;
}
