@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Rum+Raisin&display=swap");
.color {
  background-color: #C9DDDE;
  position: absolute;
  width: 100vw;
  height: calc( 100vh - 56px);
  overflow: auto;
}

.background {
  position: relative;
  overflow: auto;
  height: calc( 100vh - 56px);
  background-image: url("../../../../assets/Images/User_Profil/background2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background .bg {
  position: absolute;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.28);
  width: 100vw;
  height: calc( 100vh - 56px);
  left: 0;
}

.profil {
  background-color: #E2DED8;
  border-radius: 45px;
  border: 5px solid #6A655E;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8;
}

.profile-button {
  background: #055160;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #055160;
}

.profile-button:focus {
  background: #055160;
  box-shadow: none;
}

.profile-button:active {
  background: #055160;
  box-shadow: none;
}

.back:hover {
  color: #055160;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8;
}

.container {
  width: 70vw;
  max-width: 500px;
}

.container .py-5 {
  padding-top: 2rem !important;
}

.container .title h2 {
  margin: 0 auto;
  text-align: center;
}

.container .col-md-12 {
  width: 75%;
  margin: 5px auto;
}

.mt-5 button:hover {
  opacity: .7;
}

.mt-5 i {
  margin-right: 7px;
}

.cancel {
  text-decoration: none;
}

.cancel i {
  font-size: 30px;
  color: #055160;
}

.cancel i:hover {
  opacity: .7;
}

.title_area {
  padding-top: 4vh;
}

.mt-5 {
  justify-content: space-between;
}

.mt-5 a:hover {
  opacity: .7;
}

.mt-5 button {
  margin-top: 3%;
  margin-right: 4%;
}

.mt-5 button i {
  max-width: 14px;
}

.mt-5 button i:hover {
  opacity: .7;
}

.mt-5 i {
  margin-right: 7px;
}

.mt-5 label {
  font-weight: bold;
}

form {
  border: 5px solid #055160;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 2%;
  background-color: #C9DDDE;
  border-radius: 10px;
}

label {
  font-size: 20px;
  margin-right: 1%;
}

input {
  margin-right: 2%;
}
