@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Orelega+One&family=Original+Surfer&display=swap");
.calendar {
  width: 50%;
  height: 50%;
}

.chooseCalendar {
  background-color: rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-radius: 10px;
  border-color: #fff;
  border-size: 5px;
  margin-bottom: 10px;
}

.chooseCalendar .question {
  text-align: center;
  color: #5F5D5B;
  font-size: 30px;
  padding-top: 1vh;
  font-family: 'Orelega One', cursive;
}

.chooseCalendar .calendarNames {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chooseCalendar .calendarNames .option {
  background-color: #C0AC95;
  padding: 6px 6px 6px 6px;
  margin-top: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  color: #F6EED4;
  text-align: center;
  font-size: 22px;
  border: 1px solid #B3A782;
  cursor: pointer;
  width: 22vw;
}

.information {
  background-color: rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-radius: 10px;
  border-color: red;
  border-size: 5px;
  margin: 10px 10px 10px 10px;
  color: red;
}

.information h2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Orelega One', cursive;
}
