<div class="homePage">
  <div class="bg">
    <div class="question1">
      <h2> Would you like to be in better shape? </h2>
    </div>
    <div class="question2">
      <h2> Would you like to improve your relationship? </h2>
    </div>
    <div class="question3">
      <h2> Do you need you like to make your life more fun? </h2>
    </div>
    <div class="button">
      <app-google-login></app-google-login>
    </div>
    <div class="and">
      <p> AND </p>
    </div>
    <h1> Change your life </h1>
  </div>
</div>