@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Rum+Raisin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.background {
  background-color: #F9D6C0;
  position: absolute;
  width: 100vw;
  height: calc( 100vh - 56px);
  overflow: auto;
}

img {
  width: 100%;
  height: 50vh;
}

.label {
  text-align: center;
  font-size: 50px;
  padding-top: 4%;
  font-family: 'Gloria Hallelujah', cursive;
}

.title {
  text-align: center;
  font-size: 3.31vh;
  font-family: 'Margarine', cursive;
  color: #5F0336;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  opacity: 0;
}

.checkbox:checked ~ .tickmark {
  border-color: #5F0336 transparent transparent #5F0336;
}

.tickmark {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 100px solid;
  border-color: #A27C7C transparent transparent #A27C7C;
}

.tickmark::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  width: 45px;
  height: 20px;
  border: 6px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.button {
  background-color: #F9D7EA;
  margin-top: 2vh;
  margin-left: 40vw;
  margin-right: 40vw;
  height: 8vh;
  width: 20vw;
  color: #5F0336;
  padding-top: 0px;
  font-size: 2.5vw;
  font-family: 'Margarine', cursive;
  border-radius: 2vh;
  border: 0.75vh solid #A27C7C;
}

.button:hover {
  border-style: dashed;
  border-color: #5F0336;
}

.info {
  margin-top: 1vh;
  text-align: center;
  padding: 1vh 0vh 1vh 2vh;
  font-family: 'Kiwi Maru', serif;
  font-size: 19px;
  font-weight: bold;
}
