<div class="background">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="container">
      <h4 class="label">
        Choose pictures that show what you like
      </h4>
    </div>

    <div class="container" *ngIf="area[0]">

      
      <h3 class="title"> Love </h3>

      <ngb-carousel *ngIf="loveImages">


        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option1)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="loveImages[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option2)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="loveImages[1]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option3)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="loveImages[2]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option4)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="loveImages[3]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option5)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="loveImages[4]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option6)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="loveImages[5]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

      </ngb-carousel>
    </div>

    <div class="container" *ngIf="area[1]">
      <h3 class="title"> Sport & Health </h3>

      <ngb-carousel *ngIf="sportImage">


        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option7)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option8)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[1]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option9)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[2]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option10)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[3]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option11)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[4]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option12)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[5]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option13)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[6]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option14)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[7]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option15)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="sportImage[8]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

      </ngb-carousel>
    </div>



    <div class="container" *ngIf="area[2]">
      <h3 class="title"> Culture & Entertainment </h3>
      <ngb-carousel *ngIf="cultureImage">


        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option16)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="cultureImage[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option17)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="cultureImage[1]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option18)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="cultureImage[2]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option19)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="cultureImage[3]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option20)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="cultureImage[4]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option21)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="cultureImage[5]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

        <ng-template ngbSlide>
          <label>
            <input type="checkbox" class="checkbox"   formControlName="Categories" (change)="getDetailId($event,option22)" >
            <div class="tickmark"></div>
          <div class="picsum-img-wrapper">
            <img [src]="cultureImage[6]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3></h3>
          </div>
        </label>
        </ng-template>

      </ngb-carousel>


    </div>

    <button type="submit" [disabled]="selectedDetails.length==0" class="button"> SEND </button>
    <div *ngIf="selectedDetails.length==0" class="info">
      To be able to send you have to select pictures 
    </div>
  </form>
</div>