.background {
  position: relative;
  overflow: auto;
  height: calc( 100vh - 56px);
  background-image: url("../../../../assets/Images/User_Profil/background1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.background .bg {
  position: absolute;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100vw;
  height: calc( 100vh - 56px);
  left: 0;
}

.profil {
  background-color: #E2DED8;
  border-radius: 45px;
  border: 5px solid #6A655E;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8;
}

.profile-button {
  background: #632778;
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8;
}

.container {
  width: 70vw;
  max-width: 500px;
}

.container .py-5 {
  padding-top: 2rem !important;
}

.container .title h2 {
  margin: 0 auto;
  text-align: center;
}

.container .col-md-12 {
  width: 75%;
  margin: 5px auto;
}

.mt-5 button:hover {
  opacity: .7;
}

.mt-5 i {
  margin-right: 7px;
}

.cancel {
  text-decoration: none;
}

.cancel i {
  font-size: 30px;
  color: #682773;
}

.cancel i:hover {
  opacity: .7;
}

.title_area {
  padding-top: 4vh;
}

.mt-5 {
  display: flex;
  justify-content: space-between;
}

.mt-5 a:hover {
  opacity: .7;
}

.mt-5 button i {
  max-width: 14px;
}

.mt-5 button i:hover {
  opacity: .7;
}

.mt-5 i {
  margin-right: 7px;
}

.mt-5 label {
  font-weight: bold;
}
