/* You can add global styles to this file, and also import other style files */
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 10px
  font-family: 'Oswald', sans-serif

body
  height: 150vh
