/* You can add global styles to this file, and also import other style files */

.ng-valid[required],
.ng-valid.required
  border-left: 0px solid green

.ng-invalid:not(form)
  border-left: 0px solid red

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Oswald', sans-serif

.root
  display: block
  width: 100%
  height: 100vh
  background-color: #495057


